/* donuts */
.chartdiv {
  margin: 10px auto;
  transform: rotate(135deg) scale(1.3);
}

.content {
  padding: 30px 10px;
  margin: 0 auto;
}

.pies {
  display: flex;
  gap: 65px;
  width: 100%;
  /* justify-content: space-evenly; */
  margin-left: 10px;
  flex-wrap: wrap;
}
.pie {
  width: calc(100% / 4 - 60px);
  min-width: 220px;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 320px;
  border-radius: 12px;
  background-color: white;
}
.pie i {
  margin: 20px auto;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
}
.pie h3 {
  position: absolute;
  bottom: 80px;
  left: calc(50% - 25px);
  font-weight: bolder;
}
.pie1 {
  background-color: #a162f7;
  color: white;
}
.pie1 i {
  background-color: #af7fff;
}

.pie2 h3 {
  left: calc(50% - 42px);
}
.pie2 i {
  padding: 15px 20px;
  color: rgba(255, 126, 134, 1);
  background-color: rgba(255, 126, 134, 0.1);
}
.pie3 i {
  color: rgba(161, 98, 247, 1);
  background-color: rgba(161, 98, 247, 0.1);
}
.pie4 i {
  color: rgba(246, 204, 13, 1);
  background-color: rgba(246, 204, 13, 0.1);
}

.pie4 h3 {
  left: calc(50% - 22px);
}

/* bars */
.data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 30px;
  margin-top: 50px;
}
.bars,
.linesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 30px);
  min-width: 300px;
  background-color: white;
  border-radius: 12px;
  padding: 15px 30px;
}
.bar,
.lines {
  display: none;
}
.show {
  display: block;
}
.headers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.time {
  display: flex;
  flex-wrap: wrap;
}
.period {
  padding: 2px 20px;
  border-radius: 15px;
  cursor: pointer;
}
.period.active {
  background-color: #67b7dc;
  color: white;
}
#day {
  width: 100%;
  height: 300px;
}
#week {
  width: 100%;
  height: 300px;
}
#month {
  width: 100%;
  height: 300px;
}
#value,
#value1 {
  font-weight: 600;
}

/* lines */
#line1 {
  width: 100%;
  height: 300px;
}
#line2 {
  width: 100%;
  height: 300px;
}
#line3 {
  width: 100%;
  height: 300px;
}

/* last cards */
.last-cars {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* justify-content: space-evenly; */
  margin: 0 auto;
  margin-top: 50px;
  color: rgba(114, 118, 124, 1);
}
.last {
  border-radius: 12px;
  height: 270px;
  width: calc(100% / 3 - 40px);
  min-width: 300px;
  text-align: center;
  padding: 20px;
}
.head {
  display: flex;
  gap: 10px;
  font-weight: 600;
  color: rgba(36, 39, 49, 1);
}
.head i {
  font-size: 24px;
  color: rgba(114, 118, 124, 1);
}
.last h4 {
  margin: 10px 0;
  text-align: left;
  color: rgba(36, 39, 49, 1);
}

.end {
  display: flex;
  justify-content: space-between;
}

.icons-left {
  display: flex;
  gap: 10px;
}

.last1 {
  background-color: #e1dfa4;
}
.last2 {
  background-color: #e3ecf1;
}
.last3 {
  background-color: #f4e3e5;
}
